html {
    background-color: #C4DFDF;
    text-align: justify;

    margin: 20px;


}

body {
    text-align: justify;
    /* background-color: rgb(206, 231, 214); */
    font-family: 'Open Sans', sans-serif;
}

h1 {
    top: auto;
    text-align: center;
}
li{
    font-size: medium;
}
.flex-head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

#head-profile-image {
    margin-right: 20px;
}

#head-profile-image img {
    border-radius: 30%;
    height: 150px;
    background-color: #D2E9E9;
    flex: 1;
}

#head-name {
    margin-left: 20px;
    font-size: large;
    flex: 1;

}

.profile {
    background-color: aquamarine;
}


#head {
    background-color: #D2E9E9;

}

#body {
    background-color: #E3F4F4;

    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-top: 4px;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 30px;
    row-gap: 30px;
}

.card-summary {
    grid-column: span 2;
}

.card-internship {
    grid-row: span 2;

}

p {
    font-family: 'Nunito Sans', sans-serif;
}

footer {
    background-color: #D2E9E9;
}

@media (max-width: 768px) {

    /* Adjust font sizes */
    h1{
        font-size: 18px;
    }
    h2{
        font-size: 16px;
    }
    li{
        font-size: 14px;
    }
    p {
        font-size: 12px;
    }

    /* Adjust margins and padding */
    .grid-container {
        margin: 0;
        padding: 0;
    }

    .card-summary,
    .card-internship,
    .card-education,
    .card-skills,
    .card-projects,
    .card-certifications,
    .card-publications,
    .card-trainings {
        grid-column: 1;
    }
    img{
        max-width: 100px;
        max-height: 100px;
    }

}
