.profile {
    background-color: aquamarine;
}

h1 {
    top: auto;
    text-align: center;
}

body {
    text-align: justify;
    /* background-color: rgb(206, 231, 214); */
    font-family: 'Source Code Pro', monospace;
}

html {
    background-color: #C4DFDF;
    margin-left: 10px;
    margin-right: 10px;
}

#main {
    background-color: #D2E9E9;
}

#body {
    background-color: #E3F4F4;

    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-top: 4px;

}

p {
    padding-left: 10px;
    padding-right: 25px;
}

footer {
    background-color: #D2E9E9;
}
